.testPercentContainer{
	width: 100%;
	height: 25px;
	border : 1px solid #e04c0f;
	background-color: white;
	border-radius: 10px;
	margin-top: 10px;
}
.jsp{
	height: 100%;
	text-align: center;
	background-color: #e04c0f;
	border-radius: 8px;
	color: white;
}
.divQuart {
	width: 25%;
}
.divHalf {
	width: 50%;
}
.divtQuart {
	width: 75%;
}
.divFull {
	width: 100%;
}