footer{
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    background-color: #0073b8;
    color: white;
}	
#btnLinkMentions{
	color:white;
	border-color: white;
	transition: background-color 0.3s, color 0.3s;
}

#btnLinkMentions:hover{
	color:#0073b8;
	background-color: white;
}

#divFooterRS{
	font-size: 2rem;
}
#divFooterRS a{
	color:white;
	transition: font-size 0.3s;
}

#divFooterRS a:hover{
	font-size: 2.2rem;
}