.aboutSidebar{
	background-color: #e04c0f;
	color:white;
	animation-name: openSidebar;
	animation-duration: 3s;

}
.aboutSidebar #testMyPhoto img{
	width: 40%;
	border-radius: 10px;
	border: 1px solid white;
	
}
.aboutSidebar h3{
	margin-top: 1vw;
	padding: 10px 0;
	border-bottom: 2px dotted white;
	color: white;
	text-align: center;
}
.aboutSidebar h6{
	margin-top: 10px;
}
.aboutSidebar h5{
	margin-top: 20px;
}
.aboutSidebar .fa{
	padding-right: 20px;
}
.testPercentContainer{
	width: 100%;
	height: 25px;
	border : 1px solid white;
	background-color: white;
	border-radius: 10px;
	margin-top: 10px;
	animation-name: gauges;
	animation-duration: 4s;
}
.jsp{
	height: 100%;
	text-align: center;
	background-color: #e04c0f;
	border-radius: 8px;
	color: white;
}
.divQuart {
	width: 25%;
}
.divHalf {
	width: 50%;
}
.divtQuart {
	width: 75%;
}
.divFull {
	width: 100%;
}

@keyframes openSidebar {
	0%	{opacity: 0; height: 0;}

	100% {opacity: 1; height: 85vh;}
}

@keyframes gauges {
	0% {opacity: 0; width: 0;}
	50% {opacity: 0; width: 0;}
	100% {opacity: 1; width: 100%;}
}